<style>
    input, textarea, select, label {
        background: transparent !important;
        color: white !important;
    }
</style>
<div class="card" style="background: #0000005c;">
<div class="card-body">
<%= render 'form', safe_work: @safe_work %>
</div>
</div>
<%= link_to 'Back', safe_works_path %>
